<!-- Home page And Routing by navigations between Routs-->
<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-primary pointer">
  <div class="container">
    <a class="navbar-brand" routerLink="/" ><i class="fa fa-home" ></i> Fake<b>Book</b></a>
    <ul class="navbar-nav mr-auto">
      <ng-container *ngIf="currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link ml-5" routerLinkActive="active" routerLink="/notifications"><i class="fa fa-bell"></i> Notifications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/members"> <i class="fa fa-users"></i> Members</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/messages"><i class="fa fa-envelope"></i> Messages</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/feed"><i class="fa fa-cog"></i> Feed</a>
      </ng-container>

    </ul>
    <!-- Edit Profile And Logout while user is connected -->
    <div class="dropdown" *ngIf="currentUser$ | async as user" dropdown>
      <img class="img" src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.photoUrl}}" srcset="">
      <a class="dropdown-toggle text-light" dropdownToggle> {{user.knownAs | titlecase}}</a>

      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" routerLink="/member/edit">Edit Profile</a>
        <div class="dropdown-divider">

        </div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>

    <!-- Login  -->
    <form *ngIf="!(currentUser$ | async)" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()"
      autocomplete="off" >
      <input name="username" [(ngModel)]="model.username" class="form-control mr-sm-2" type="text"
        placeholder="Username">
      <input name="password" [(ngModel)]="model.password" class="form-control mr-sm-2" type="password"
        placeholder="Password">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>
