

<div class="container">
  <div class="bg-white border mt-2 ">
    <div>
      <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
        <div class="d-flex flex-row align-items-center feed-text px-2">
          <img class="img" src="{{post.photoUrl || './assets/user.png'}}" alt="{{post.photoUrl}}" srcset="">
                    <div class="d-flex flex-column flex-wrap ml-2">
                      <span class="font-weight-bold">{{post.username}}</span>
                      <span class="text-black-50 time">{{post.created}}</span>
                    </div>
        </div>
        <div class="dropdown" *ngIf="post" dropdown>
          <!-- <button type="button" class="btn dropdown-toggle" >
            <ul class="dropdown-menu" *dropdownMenu >
              <div class="dropdown-item" (click)="deletePost(post.id)">Delete</div>
            </ul>
          </button> -->
      </div>
       </div>
    </div>
        <div class="p-2 px-3">{{post.content}}
        </div>
        <div class="d-flex justify-content-end p-2 py-3">
          <li class="list-inline-item"><button class="btn"><i class="fa fa-thumbs-up"></i></button></li>
          <li class="list-inline-item"><button class="btn"><i class="fa fa-comments-o"></i></button></li>
          <li class="list-inline-item"><button class="btn"><i class="fa fa-share"></i></button></li>
   </div>
</div>




