<div class="mt-5"  >
  <!-- <img class="img" src='./assets/home_page_img.png'> -->
  <div class="row justify-content-center">
    <div class="col-4">

       <h4><b><i class="fa fa-home"  ></i> Welcome To FakeBook</b></h4>
        <p class="lead"> <b>Social Network</b> </p>
        <h4> Sign Up To Comunicate With Your Friends </h4> <br>
        <div class="text-center">
         <h3 class="d-block p-2 " >
          This apllication is a social network for people to communicate with each other.
         </h3>
         <i class="d-flex">You can create esasly an account and start communicating with your friends.</i>
           <ul class="d-flex mt-5 list-group-item list-group-item-action flex-column align-items-start">
            <li><b><i class="fa fa-user-plus" ></i>  &nbsp; Create an account</b></li>
            <li><b><i class="fa fa-sticky-note" ></i>  &nbsp; Create Posts</b></li>
            <li><b><i class="fa fa-comments-o" ></i>  &nbsp;Create Comments</b></li>
            <li><b><i class="fa fa-thumbs-up" ></i>  &nbsp;Add Likes</b></li>
          </ul>
          <div class="d-flex-justify-content mt-5">
            <b>This apllictaion developed by </b><a href="https://www.linkedin.com/learning/">Daniel Levy</a> <img style="width: 75px" class="img ml-3"  src='./assets/linkedin_logo.png'>
            <p><b class="mr-2">mail:</b>  <a href="mailto:daniellevy1989@gmail.com">daniellevy1989@gmail.com</a></p>
          </div>


    </div>
  </div>
</div>