<div class="row" *ngIf="member">
  <div class="col-2">
      <div class="card">
          <img class="img"  src="{{member.photoUrl || './assets/user.png'}}"
              alt="{{member.knownAs}}">
          <div class="card-body">
              <div>
                  <strong>Location:</strong>
                  <p>{{member.city}}, {{member.country}}</p>
              </div>
              <div>
                  <strong>Age:</strong>
                  <p>{{member.age}}</p>
              </div>
              <div>
                  <strong>Last Active:</strong>
                  <!-- <p>{{member.lastActice | timeago}}</p> -->
              </div>
              <div>
                  <strong>Member Since:</strong>
                  <p>{{member.created | timeago}}</p>
              </div>
          </div>
      </div>
  </div>


  <div class="col-8">
    <tabset class="member-tabset" #memberTabs>
      <tab heading="About {{member.knownAs}}" (selectTab)="onTabActivated($event)"> <br>
          <h4>Description:</h4>
          <p>{{member.introduction}}</p>
      </tab>
      <tab heading="Photos" (selectTab)="onTabActivated($event)">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
      </tab>
      <tab heading="Messages" (selectTab)="onTabActivated($event)">
        <app-member-messages [username]="member.username" [messages]="messages"></app-member-messages>
      </tab>
      <tab heading="Posts" (selectTab)="onTabActivated($event)"> <br>
        <div class="col-2 mt-2" *ngFor="let post of posts">
            <app-users-posts [post]="post"></app-users-posts>
        </div>
      </tab>
    </tabset>
  </div>
</div>


