<div class="card">
  <div class="card-header">
    <h4 class="card-title"><b>{{member.username}}</b> </h4>
  </div>
  <div class="card-body">

    <div class="row">
      <div class="col-md-4">
        <img class="img-thumbnail"
        src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.username}}">
        <div class="btn-group d-flex"><button class="btn btn-success">Message</button></div>
      </div>
      <div class="col-md-2">
        <p>
          <strong>Name:</strong>
           {{member.username}}
        </p>
        <p>
          <strong>Address:</strong>
          {{member.city}}, {{member.country}}
        </p>
      </div>
      <div class="col-md-5">
        <p>
          <strong>Introduction:</strong>
        </p>
        <p>{{member.introduction}}</p>
        <div class="card-footer">

      </div>

      </div>
    </div>
  </div>
  <div class="col-8">
    <tabset class="member-tabset">
      <tab heading="About {{member.knownAs}}">
        <h4>Description</h4>
          <p>{{member.introduction}}</p>
      </tab>
      <tab heading="Posts">
        <h4>Posts</h4>
          <p>post will goes from here</p>
      </tab>
      <tab heading="Photos" >
        <h4>Photos</h4>
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
      </tab>
      <tab heading="Friends">
          <p>friend will go from here</p>
      </tab>
      <tab heading="Messages">
          <p>Messages will go from here</p>
      </tab>
    </tabset>
  </div>


</div>


