.container{
  margin-top: 1rem;
  margin-left: 365px;
  background: #F5F5F5;
  width: 1100px;
  height: 101px;
}
.form-group{
  text-align: center;
  background: #F5F5F5;
  width: 1100px;
  height: 101px;
  display: flex;
  align-items: center;
  justify-content: center;
}
