.container{

  margin-left: 365px;
  background: #F5F5F5;
  width: 1100px;
  height: 101px;
}
.form-group{
  margin-top: 1rem;
  background: #F5F5F5;
  width: 1100px;
  display: flex;

}
.comment{
  margin-left: 365px;
  background: #F5F5F5;
  width: 1100px;
  height: auto;
}
